{% extends 'admin_base.html' %}

{% block sidebar %}
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black;" href="/admin">Main
  DashBoard</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black" href="/admin/add">Add
  User</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3 active" style="color: black"
  href="/admin/delete">Delete User</a>
{% endblock %}

{% block main_content %}
<h1 class="mt-4">Delete User</h1>
{% if user_type_list|length == 0 %}
<p>No {{user_type}} to delete</p>
{% else %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{user_type}} ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for user_ in user_type_list %}
      <tr>
        {% for field in user_ %}
        <td>{{ field }}</td>
        {% endfor %}
        <td><a href="/admin/delete/{{ user_type }}/{{ user_[0] }}" class="btn btn-primary">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}