{% extends 'doctor_base.html' %}

{% block sidebar %}
<a class="list-group-item list-group-item-action list-group-item-light p-3 " style="color: black;" href="/doctor">Main
    DashBoard</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3 active" style="color: black"
    href="/doctor/query_patients">Query Patients</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3 " style="color: black" href="/doctor/add_prescription">Assign Prescriptions</a>

{% endblock %}

{% block main_content %}
<div class="d-flex justify-content-between align-items-center">
    <h3 class="mt-4">Treatments</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form1">
        Add Treatment
    </button>
</div>
<div class="modal fade" id="form1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Drugs Prescribed</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                

                <div class = "container">
                    <form method="post">
                        {{ form_1.hidden_tag() }}
                        <p>
                            {{form_1.category(size="1", class="form-control")}}
                          </p>
                        <div class="form-group row">
                            {{ form_1.treatment_date.label(class="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                              {{form_1.treatment_date(class="form-control")}}
                                {% for error in form_1.treatment_date.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_1.patient_id.label(class="col-sm-4 col-form-label", value=patient_id, readonly = true) }}
                            <div class="col-sm-8">
                              {{form_1.patient_id(class="form-control", value=patient_id, readonly = true)}}
                                {% for error in form_1.patient_id.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_1.details.label(class="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                              {{form_1.details(class="form-control")}}
                                {% for error in form_1.details.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-4 col-sm-8">
                            {{ form_1.submit(class="btn btn-primary") }}
                          </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% if treatments|length == 0 %}
<p>No Treatments to show</p>
{% else %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Treatment ID</th>
                <th scope="col">Treatment Date</th>
                <th scope="col">Category</th>
                <th scope="col">Details</th>
                <th scope="col">Drugs Prescribed</th>
                <th scope="col">Document</th>
            </tr>
        </thead>
        <tbody>
            {% for treatment in treatments %}
            <tr>
                <td>{{ treatment[0] }}</td>
                <td>{{ treatment[1] }}</td>
                <td>{{ treatment[2] }}</td>
                <td>{{ treatment[3] }}</td>
                <td><button type="button" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#myOutput{{ treatment[0] }}">Details</button></td>
                {% if treatment[4]|string() != None|string() %}
                <td>
                    <form action="/doctor/show/treatment_pdf" method="post">
                        <input type="hidden" name="path" value="{{treatment[4]}}">
                        <input type="hidden" name="filename" value="{{treatment[5]}}">
                        <button type="submit" class="btn btn-info">View Prescription</button>
                    </form>
                </td>
                
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for treatment in treatments %}
<!-- Modal -->
<div class="modal fade" id="myOutput{{ treatment[0] }}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Drugs Prescribed</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Drug Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if treatment[6]|length == 0 %}
                            <tr>
                                <td>No Drugs Prescribed</td>
                            </tr>
                            {% else %}
                            {% for drug in treatment[6] %}
                            <tr>
                                <td>{{ drug }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endfor %}
{% endif %}
<div class="d-flex justify-content-between align-items-center">
    <h3 class="mt-4">Tests</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form2">
        Add Test
    </button>
</div>
<div class="modal fade" id="form2" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Drugs Prescribed</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                

                <div class = "container">
                    <form method="post">
                        {{ form_2.hidden_tag() }}
                        <p>
                            {{form_2.category(size="1", class="form-control")}}
                          </p>
                        <div class="form-group row">
                            {{ form_2.test_date.label(class="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                              {{form_2.test_date(class="form-control")}}
                                {% for error in form_2.test_date.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_2.patient_id.label(class="col-sm-4 col-form-label", value=patient_id, readonly = true) }}
                            <div class="col-sm-8">
                              {{form_2.patient_id(class="form-control", value=patient_id, readonly = true)}}
                                {% for error in form_2.patient_id.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form_2.bodypart.label(class="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                              {{form_2.bodypart(class="form-control")}}
                                {% for error in form_2.bodypart.errors %}
                              <span class="help-block">{{ error }}</span>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-4 col-sm-8">
                            {{ form_2.submit(class="btn btn-primary") }}
                          </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% if tests|length == 0 %}
<p>No Tests to show</p>
{% else %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Test ID</th>
                <th scope="col">Test Date</th>
                <th scope="col">Category</th>
                <th scope="col">Body Part</th>
                <th scope="col">Result</th>
                <th scope="col">Result Obtained</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                <td>{{ test[0] }}</td>
                <td>{{ test[1] }}</td>
                <td>{{ test[2] }}</td>
                <td>{{ test[3] }}</td>
                <td>{{ test[4] }}</td>
                {% if test[5] == true %}
                <td>True</td>
                {% else %}
                <td>False</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}