{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Welcome, Dr. !</h1>
  <p>Here are your patients:</p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Medical History</th>
        <th scope="col">Drugs/Treatments</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.medical_history }}</td>
          <td>{{ patient.drugs_treatments }}</td>
          <td>
            <a href="{{ url_for('routes.patient', patient_id=patient.id) }}" class="btn btn-primary">View</a>
            <a href="{{ url_for('routes.patient_edit', patient_id=patient.id) }}" class="btn btn-warning">Add Drugs/Treatments</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}