{% extends 'frontdesk_base.html' %}

{% block sidebar %} 
    <a href="/frontdesk" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">Main Dashboard</a>
    <a href="/frontdesk/register" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">Register Patient</a>
    <a href="/frontdesk/admit" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">Admit Patient</a>
    <a href="/frontdesk/discharge" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">Discharge Patient</a>
{% endblock %}

{% block main_content %}

{% endblock %}