{% extends 'frontdesk_base.html' %}

{% block sidebar %} 
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black;" href="/frontdesk">Main DashBoard</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black" href="/frontdesk/register">Register Patient</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3 active" style="color: black" href="/frontdesk/admit">Admit Patient</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black" href="/frontdesk/discharge">Discharge Patient</a>
{% endblock %}

{% block main_content %}

{% endblock %}