{% extends 'base.html' %}

{% block title %}HMS{% endblock %}

{% block content %}
<style>
    .sidebar{
        position: fixed;
        top: 58px;
        bottom: 0;
        left: 0;
        padding: 0 0; /* Height of navbar */
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 240px;
        z-index: 600;
    }
    .container-margin{
        margin-left: 240px;
    }
</style>
<div class="container-fluid">
    <div class = "row">
        <div class="col-12 col-lg-2 sidebar-self">
            <div class="border-end" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom" style="font-size:x-large;">Frontdesk Operator</div>
                <div class="list-group list-group-flush">
                    {% block sidebar %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="col">
            {% block main_content %} {% endblock %}
        </div>
    </div>
    
</div>


{% endblock %}