{% extends 'frontdesk_base.html' %}

{% block sidebar %}
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black;" href="/frontdesk">Main
  DashBoard</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3 dark-blue text-white" style="color: black"
  href="/frontdesk/register">Register Patient</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black"
  href="/frontdesk/admit">Admit Patient</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black"
  href="/frontdesk/discharge">Discharge Patient</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: black" href="/frontdesk/appointment_schedule">Schedule Appointment</a>

{% endblock %}

{% block main_content %}
<h1 class="mt-4">Register Patient</h1>
<div class="container">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group row">
      {{ form.name.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.address.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.address(class="form-control") }}
        {% for error in form.address.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.age.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.age(class="form-control") }}
        {% for error in form.age.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.gender.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.gender(class="form-control") }}
        {% for error in form.gender.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.contact_number.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.contact_number(class="form-control") }}
        {% for error in form.contact_number.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      {{ form.emergency_contact.label(class="col-sm-4 col-form-label") }}
      <div class="col-sm-8">
        {{ form.emergency_contact(class="form-control") }}
        {% for error in form.emergency_contact.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-4 col-sm-8">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}